:root {
  --background: #0A1828; 
  --textcolor: #BFA181; 
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--background);
  color: var(--textcolor)
}

#header-content, #assignments-id {
  /*header content*/
  margin: auto;  
  width: 80%; 
  padding: 5px; 
}

#flex-container {
  /* for name-id div, assignments div */
  display: inline; 
  text-align: center;
  justify-content: space-between;
}

#name-id {
  /*name id*/
}

#header-id {
  /* H1 */ 
  text-align: center; 
}

#assignments-id, 
#projects-header{
  /*Assignments block*/ 
  text-align: center; 
  text-decoration: underline;
}

#assignment {
  /* individual assignment*/
  background: var(--background);
  text-align: center; 
  margin: 5px; 
  border: 15px solid var(--textcolor); 
  width:30%; 
  height:20%;
}

#assignment-no {
  /*Assignment # block */
}

#img-id {
  /*image block*/
  width:200px; 
  height:120px; 
}

a {
  text-decoration: underline;
  color:#BFA181;
}

#projectslist li{
  /* display:;  */
  text-align: center;
  list-style-type: none;
  /* text-decoration: none; */
  padding: 10px; 
  margin: auto; 
}

#projectslist a {
  text-decoration: none;
  border: 5px solid var(--textcolor);
}


.hide {
  display: none; 
}

@media only screen and (min-width: 800px) {
  #flex-container {
    display:flex; 
    flex-wrap: wrap;
    flex:20%; 
    flex-grow: 0%;
  }
}
