/*Structure */

body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

#main-header {
  background-color: cornflowerblue;
}

#main-nav {
  background-color: grey;
}

.main-content {
  background-color: lightblue;
}

.padded-area {
  padding: 5px; 
  margin: auto; 
}

.column-content {
  background-color: lightgreen; 
}

.nested-columns {
  background-color: blue;
  color: white; 
}

.pic-content {

}

#pic-sizing {
  height: 15%; 
  width: 300px; 
}



@media only screen and (max-width:760px) {

}